@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.card {
  border: 1px solid #ccc;
  background-color: white;
  padding: 8px;
  margin: 16px;
  border-radius: 8px;
  width: 180px;
  height: 260px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
}

.card:hover {
  transform: scale(1.05);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.cardName {
  text-align: left;
}

.cardHP {
  text-align: right;
}

.cardImage {
  display: flex;
  justify-content: center;
  margin: 8px 0;
  flex-grow: 1;
}

.cardImage img {
  width: auto; 
  height: auto; 
  max-height: 100px; 
}

.cardDetails {
  display: flex;
  flex-direction: column;
  font-size: 0.9em; 
}
